# Core
Flask~=3.1.0
Flask-Caching~=2.3.1
Flask-WTF~=1.2.0
requests~=2.32
cloudscraper~=1.2.71
bencodepy~=0.9.5
python-dotenv~=1.0.0
gunicorn~=23.0

# Dev/Test
pytest~=8.3
pytest-mock~=3.14
pytest-cov~=6.0
responses~=0.25
mypy~=1.14
