# Core
Flask>=3.1.0
Flask-Caching>=2.3.1
Flask-WTF>=1.2.0
requests>=2.28.2
cloudscraper>=1.2.71
bencodepy>=0.9.5
python-dotenv>=1.0.0
gunicorn>=21.2.0

# Dev/Test
pytest>=7.3.1
pytest-mock>=3.10.0
responses>=0.23.0
