<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Debrid Scout - Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Include Account Information -->
    {% include 'account_info.html' %}

    <!-- Include Navigation Bar -->
    {% include 'navbar.html' %}

    <div class="main-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Debrid Scout Logo" class="logo">
        </div>

        <h2>Contact Us</h2>
        <p class="subtitle">If you have any questions, feedback, or need support, please feel free to reach out to us.</p>
        <p class="contact-info">Email: <a href="mailto:support@debridscout.com" class="contact-link"><i class="fa-solid fa-envelope"></i> support@debridscout.com</a></p>
        <p class="closing-note">We are here to help you make the most out of Debrid Scout!</p>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>